body{
    margin: 0;
    text-align: center;
    font-family: serif;
    font-weight: bold;
    

}


h1{
    font-size: 450%;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #11999e;
    
}
h2{
    font-size: 250%;
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin-top: 65px;
    padding-bottom: 10px;
    
}
h3{

    font-family: 'Montserrat', sans-serif;
    color: #11999E;

    
}

.Top-Container{
    background-color:#afeeee;
    position: relative;
        padding-top: 50px;
        

    }
.middle-container{
   background-color:black; 
   
}


.skill-row{
margin: 100px auto 100px auto;
text-align: left;
width: 50%;
line-height: 2;
font-weight: bolder;

}


.bottom-container{

    margin-top: auto;
    background-color: black;
padding: 50px 0 20px;
}

#pro{
text-decoration: underline;

}
.top-cloud{
position: absolute;
right: 250px;
top: 50px;
width: 10%;
        
    }
.bottom-cloud{
position: absolute;
left: 190px;
top: 110px;
width: 10%;

}

.ball{
width:100%;
}

.rock{
    width: 25%;
    margin-top: 35px;
    margin-right: 50px;

    
}
.ash{
    border-radius: 100%;
        width: 25%;
    margin-top: 35px;
}

.matrix{
    float: left;
margin-right: 30px;
width: 60%;

}

.matrix-2{
    width: 60%;
     float: right;
 margin-left: 30px;
}

.btn{ background-color: #ffffff;
    border-radius: 28px;
    border: 2px solid #11999e;
    display: inline-block;
    cursor: pointer;
    color: #11999e;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: bold;
        padding: 16px 31px 16px 31px;
    text-decoration: none;
    margin-bottom: 35px;
}
  
.btn:hover{
    background-color: #11999e;
    color: white;
}

hr{
    border-style: dotted none none none;
    border-color:#11999e;
    border-width: 6px;
    height: 0px;
       width: 5%;
    
       }

#parag{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #11999e;
    width: 40%;
    margin: auto;
        margin-bottom: 65px;
        font-weight: bolder;
        font-size: medium;
       
}
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: auto;
    color: #11999e;
    font-size: 78%;
    font-weight: bolder;
    
}

#hot-wings{
    width: 40%;
    margin: 40px auto 60px auto;
}


.footer-link{
    color: #11999E;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px 20px;
    text-decoration: none;
}
.footer-link:hover{
    color: #eaf6f6;
}
.copyright{
color: #eaf6f6;
font-size: 0.75rem;
padding: 20px 0;

}

